@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');

body {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

/*webkit瀏覽器專用*/
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/*Firefox 4-18瀏覽器專用*/
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/*Firefox 19+瀏覽器專用*/
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
/*IE10瀏覽器專用*/
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
